.userApprovals__userTitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: 0.73px;
  text-align: left;
  color: $neutral-400;
  margin-bottom: 1rem;
}

.userApprovals__filters {
  margin: 2rem 0rem !important;
  padding: 0 !important;
}

.userApprovals__searchIconBackground {
  background-color: $white !important;
  border-right: none !important;
}

.userApprovals__searchInputBackground {
  border-left: none !important;
}

.userApprovals__searchIcon {
  width: 21.15px !important;
  height: 21.15px !important;
}

.userApprovals__filterButton {
  background-color: $neutral-75 !important;
  border: 1px solid $neutral-75 !important;
}

.userApprovals__filterIcon {
  color: $neutral-400 !important;
  width: 21.15px !important;
  height: 21.15px !important;
}

.userApprovals__seller {
  color: $primary_200 !important;
  border: 1px solid $neutral_100 !important;
  background-color: $white !important;
  display: flex !important;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.userApprovals__specificFilters {
  display: flex !important;
  align-items: flex-start;
  gap: 10px;
}

.userApprovals__sellerIcon {
  color: $primary_200;
  width: 24px !important;
  height: 20px !important;
}

.userApprovals__buyer {
  color: $primary_200 !important;
  border: 1px solid $neutral_100 !important;
  background-color: $white !important;
  display: flex !important;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.userApprovals__buyerIcon {
  color: $primary_200 !important;
  width: 18px !important;
  height: 20px !important;
}

.userApprovals__forwarders {
  color: $primary_200 !important;
  border: 1px solid $neutral_100 !important;
  background-color: $white !important;
  display: flex !important;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.userApprovals__forwardersIcon {
  color: $primary_200 !important;
  width: 24px !important;
  height: 18px !important;
}

.userApprovals__tableHead {
  background-color: $neutral_50;
  color: $primary_300;
  padding: 0.9rem 0rem;
  border-radius: 1rem;
}

.userApprovals__tableHeadName {
  padding-left: 2rem !important;
}

.userApprovals__downIcon {
  padding: 0 !important;
  width: 0.7rem !important;
  margin-left: 0.3rem !important;
}

.userApprovals__tableBody {
  padding: 0rem 0rem;
  color: $primary_200 !important;
}

.userApprovals__tableRow {
  align-items: center;
  padding: 0.8rem 0rem !important;
}

.userApprovals__review {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 94px;
  height: 26px;
  border-radius: 6px;
  color: $white;
  background-color: $warning_75;
}

.userApprovals__inProcess {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 94px;
  height: 26px;
  border-radius: 6px;
  color: $white;
  background-color: $neutral-400;
}

.userApprovals__approved {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 94px;
  height: 26px;
  border-radius: 6px;
  color: $white;
  background-color: $success_200;
}

.userApprovals__rejected {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 94px;
  height: 26px;
  border-radius: 6px;
  color: $white;
  background-color: $error_100 !important;
}

.border-box {
  box-sizing: border-box;
}

.userApprovals__cardBody {
  color: $primary_200 !important;
}

.page-item.active .page-link {
  background-color: $primary_200;
  color: $white;
  border-color: $primary_200;
  border-bottom-left-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}

.page-item .page-link {
  color: $primary_200;
}