.dFlex {
  display: flex;
}

.aICenter {
  align-items: center;
}

.jcCenter {
  justify-content: center;
}

.textAlignCenter {
  text-align: center;
}

.jcSpaceBetween {
  justify-content: space-between;
}

.horizontalSpaceS {
  width: 8px;
}

.horizontalSpaceM {
  width: 16px;
}

.horizontalSpaceL {
  width: 32px;
}

.horizontalSpaceXL {
  width: 64px;
}

.verticalSpaceS {
  height: 8px;
}

.verticalSpaceM {
  height: 16px;
}

.verticalSpaceL {
  height: 32px;
}

.verticalSpaceXL {
  height: 64px;
}