// Colors
$white: #FFFFFF;

// Neutral
$neutral_400: #414C5B;
$neutral_300: #64748B;
$neutral_200: #94A3B8;
$neutral_100: #CBD5E1;
$neutral_50: #F1F5F9;
$neutral_25: #F8FAFC;
$neutral_75: #e2e8f0;

// Primary
$primary_300: #023047;
$primary_200: #054F6E;
$primary_100: #126782;
$primary_50: #8ECAE6;

// Secondary
$secondary_100: #FB8500;
$secondary_50: #FD9E02;

// Error
$error_100: #B91C1C;
$error_200: #890000;

// Success
$success_200: #52B69A;

// Warning
$warning-25: #fffbeb;
$warning-75: #f59e0b;

// Breakpoints
$breakpoint_tablet: 768px;