.modal-file {
  width: 26%;
  padding: 3%;
  margin: 0 auto;
  margin-top: 25vh;
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;


  &--title {
    border-bottom: 1px solid $neutral_50;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h3 {
      font-size: 20.2px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.59;
      letter-spacing: 0.61px;
      color: $primary_200;
    }
  }

  &--content {
    padding: 30px 30px 15px 30px;

    .label {
      font-size: 11.7px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.37;
      letter-spacing: 0.35px;
      color: $neutral_200;
    }

    .input {
      width: 100%;
      height: 100%;
      padding: 5%;
      border: 2px dashed $neutral_100;
      border-radius: 8px;
      background-color: $neutral_25;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .icon-pdf {
        color: $neutral_200;
        width: 50px;
        height: 50px;
      }

      .icon-check {
        color: $success_200;
        width: 50px;
        height: 50px;
      }

      .icon-close {
        color: $error_200;
        width: 50px;
        height: 50px;
      }

      b {
        font-size: 16.8px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.5px;
        text-align: left;
        color: $primary-200;
        margin: 5px 0;
        display: flex;

        .close {
          width: 25px;
          height: 25px;
          margin-left: 5px;
          color: $neutral_400;
          z-index: 1000;
        }
      }

      p {
        font-size: 16.8px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.5px;
        text-align: left;
        color: $neutral_200;
      }
    }
  }

  &--footer {
    margin: 0 30px;
  }
}

@media (max-width: 1280px) {
  .modal-file {
    width: 100%;

  }
}