.radioButton {
  margin-bottom: 30px;

  &__input {
    margin-right: 8px;
    accent-color: $primary_200;
  }

  &__label {
    font-weight: 300;
    font-size: 16.8px;
    line-height: 24px;
    color: $neutral_400;
    letter-spacing: 0.03em;
  }
}