.custom-modal-overlay {
  // height: 100vh;
  //width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 99998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 16px;
}

.custom-modal {
  margin: 0 auto;
  margin-top: 25vh;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0 0 1rem;

  &-title {
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-bottom: 1px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-size: 20.2px;
    font-weight: bold;
    line-height: 1.59;
    letter-spacing: 0.61px;
    color: #054f6e;
    border-color: #f1f5f9;
    border-style: solid;
    position: relative;

    &-icon {
      position: absolute;
      right: 15px;
    }
  }


  &-body {
    min-height: 10rem;
    padding: 1rem 2.5rem 1rem;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 0px 2.5rem 0rem;
  }
}

@media (max-width: 992px) {
  .custom-modal {
    height: auto !important;
    overflow-y: scroll;
    margin-top: 50%;
  }
}