.not-found {
  background-image: url("../../../../../../public/assets/images/bg-not-found.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;

  &_content {
    position: absolute;
    bottom: 7rem;
    margin: auto;
    left: 0; 
    right: 0; 
    width: 42rem;
    text-align: center;

    &_title {
      display: none;
    }

    &_text {
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 4rem;
      letter-spacing: 1px;
      line-height: 50px;
    }
  }
}

@media (max-width: $breakpoint_tablet) {
  .not-found {
    background-image: url("../../../../../../public/assets/images/bg-not-found-mobile.jpg");
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
  
    &_content {
      position: absolute;
      bottom: 7rem;
      margin: auto;
      left: 0; 
      right: 0; 
      width: 100%;
      text-align: center;
      padding: 0 1rem;

      &_title {
        display: block;
        margin-bottom: 4rem;
        font-size: 10rem;
        font-weight: bold;
        letter-spacing: 10px;
        padding: 0 1rem;
      }
  
      &_text {
        font-size: 1.3rem;
        font-weight: 1000;
        margin-bottom: 4rem;
        letter-spacing: 1px;
        line-height: 35px;

        h2 {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
