.mn-modal-enableWalletExtension {

  .modal-header {
    position: relative;
    justify-content: left;
    padding: 12px 24px;

    .modal-title h4 {
      font-size: 20.2px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.59;
      letter-spacing: 0.61px;
      text-align: left;
      color: $primary-200;
      margin: 0px;
    }
  }

  &--body {
    padding: 22px 38px 32px 38px !important;

    p {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.42px;
      color: $primary-300;
    }

    & .buttons {
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 10px;

      @include respond-below(sm) {
        width: 100%;
      }

      button {
        padding: 10px 30px;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.42px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
      }
    }
  }
}